input,
textarea,
select {
  border: 0;
  outline: 0;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  transition: all 100ms linear;
  border-radius: 0;
}

input:focus,
textarea:focus {
  box-shadow: 1px 1px 2px rgba(0,0,0,.25);
}

input[type=text],
input[type=email],
input[type=password],
textarea,
select,
select option {
  line-height: 3rem;
  height: 3rem;
  font-size: 1.6rem;
  padding: 0 .5rem;
}

input[type=textarea] {
  min-height: 30rem;
}

input + input {
  margin-left: 1.5rem;
}

form output {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
}


.new-thing label {
  font-size: 1.4rem;
  display: block;
}

.new-thing input,
.new-thing textarea,
.new-thing select,
.edit-thing input,
.edit-thing textarea,
.edit-thing select {
  width: 100%;
}

.new-thing textarea,
.edit-thing textarea {
  min-height: 15rem;
}

input + br + input {
  margin-top: .75rem;
}
