<ul class="pad-left pad-top-hard botted-list px14 lh18">
  <% for (thing in data) { %>
  <li data-id="<%= data[thing].id %>" class="row pad-bottom-light">
    <div class="col-1-5 text-center">
    <a class="approve button primary">
        APPROVE
      </a>
      <a class="ignore button secondary">
        IGNORE
      </a>
    </div>
    <div class="col-1-8">
      <%= data[thing].postedTo %>
    </div>
    <div class="col-1-2">
      <a href="<%= data[thing].media %>"><%= data[thing].title %></a>
    </div>
  </li>
  <%  } %>
</ul>