<div class="panel absolute text-right lh20" style="top:1.5rem; right: 1.5rem; z-index: 5">
  <% if (user.username) { %>
  <div class="px14">you are posting as <span class="bold"><%= user.username %></span></div>
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/new/entry">new entry</a></li>
    <li><a href="/new/sub">create sub</a></li>
    <li><a href="/logout">log out</a></li>
    <% if (user.admin) { %>
    <li><a href="/userlist">userlist</a></li>
    <% } %>
  </ul>
  <% } else { %>
  <form class="login-form" data-callback="checkLogin" action="/login">
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <a class="button primary submit">log in</a>
    <a class="button secondary sign-up">sign up</a>
    <output></output>
  </form>
  <% } %>
</div>