<!--a href="#controls" class="triple-bar">≡</a-->

<div class="panel" id="controls">
  <!--a href="#back" class="close-panel-inner">&times;</a-->
  <% if (req.user) {  %>
    <div class="userinfo">
      you are logged in as <a href="/me"><span class="bold"><%= req.user.username %></span></a>. <a href="/logout">log out</a>
    </div>
    <% } else { %>
      <div class="row">
        <div class="col-1-2 pad-right-light">
            <h2>login form</h2>
            <%- include login-form %>
        </div>
        <div class="col-1-2 pad-left-light">
            <h2>signup form</h2>
            <%- include signup-form %>
          </div>
      </div>
      <% } %>
</div>