<div class="panel absolute text-right lh20" style="top:1.5rem; right: 1.5rem; z-index: 5">
  <% if (user.username) { %>
  <div class="px14">you are posting as <span class="bold"><%= user.username %></span></div>
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/userlist">userlist</a></li>
    <li><a href="/logout">log out</a></li>
  </ul>
  <% } else { %>
  <form class="login-form">
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <a class="button primary log-in">log in</a>
    <output></output>
  </form>
  <% } %>
</div>