<ul class="control">
  <li class="close" title="close">-</li>
  <% if (user) { %>
  <% if (entry.votes[0]) { %>
  <% var up = (entry.votes[0].vote) %>
  <li class="vote up <% if (up) { %> <%= 'active' %> <% } %>" data-dir="up">&darr;</li>
  <li class="vote down <% if (!up) { %> <%= 'active' %> <% } %>" data-dir="down">&darr;</li>
  <% } else { %>
  <li class="vote up" data-dir="up">&darr;</li>
  <li class="vote down" data-dir="down">&darr;</li>

  <% } %>
  <% if ( req.user.admin ) { %>
  <li class="tag float-right<% if (entry.special) { %> active<% } %>" data-tag="special">special</li>
  <li class="tag float-right<% if (entry.sticky) { %> active<% } %>" data-tag="sticky">sticky</li>
  <li class="tag float-right<% if (entry.nsfw) { %> active<% } %>" data-tag="nsfw">nsfw</li>
  <li class="tag float-right<% if (entry.nsfl) { %> active<% } %>" data-tag="nsfl">nsfl</li>
  <% } %>
  <% if ( (entries[which].postedBy.name == user.username) || user.admin ) { %>
  <li class="delete float-right">delete</li>
  <% } %>
  <% } %>
</ul>