<div class="row">
  <article class="active">
    <div class="contain">
      <header>
        <h1><%= title %></h1>
      </header>
      <section>
        <p><%= content %></p>
      </section>
      <footer>
        <cite><strong><%= author %></strong> &rarr; <%= postedTo[0] %></cite>
      </footer>
    </div>
  </article>
</div>