<div class="row">
  <article class="active">
    <div class="contain">
      <header>
        <h1><%= data[0].title %></h1>
      </header>
      <section>
        <%- data[0].content %>
      </section>
      <footer>
        <cite><strong><%= data[0].postedBy %></strong> &rarr; <%= data[0].postedTo %></cite>
      </footer>
    </div>
  </article>
</div>