<!-- Default home page -->

  <article class="active">
    <div class="contain">
      <header>
        <h1>Here we go...</h1>
      </header>
      <section>
        <ul>
          <li><a href="/signup">sign up!</a></li>
          <li><a href="/login">log in</a></li>
          <li><a href="/logout">log out</a></li>
          <li><a href="/post">testing</a></li>
        </ul>
      </section>
      <footer>

      </footer>
    </div>
  </article>
