<div class="row">
  <div class="contain">
    <h1>Homepage</h1>
  </div>
</div>
<div class="row">
  <article class="active">
    <div class="contain">
      <header>
        <h1>Article Header</h1>
      </header>
      <section>
        <p>Content</p>
      </section>
      <footer>
        <cite>citation</cite>
      </footer>
    </div>
  </article>
</div>