<form class="login-form active" data-callback="checkLogin" autocomplete="off" action="/login">
  <input type="email" placeholder="email" name="email">
  <input type="password" placeholder="password" name="password">
  <div class="button-group">
    <button class="button primary submit">log in</button>
    <button class="button secondary swap-panel-forms">signup form</button>
  </div>
  <output></output>
</form>