<form class="login-form active" data-callback="checkLogin" action="/login">
  <input type="email" placeholder="email" name="email">
  <input type="password" placeholder="password" name="password">
  <a class="button primary submit">log in</a>
  <a class="button secondary swap-panel-forms">sign up</a>
  <output></output>
</form>