<form class="login-form active" data-callback="checkLogin" action="/login">
  <input type="email" placeholder="email" name="email">
  <input type="password" placeholder="password" name="password">
  <button class="button primary submit">log in</button>
  <button class="button secondary swap-panel-forms off">sign up</button>
  <output></output>
</form>