<article class="row active user-profile">
  <div class="contain">
    <h1>
      <%= data[0].email %>
    </h1>
    <p>
      <%= data[0].username %> &rarr; <%= data[0].createdAt %>
    </p>
  </div>
</article>