<article class="row active user-profile">
  <div class="contain">
    <h1 class="pad-lips">
    <%= data.email %>
    </h1>
    <!--div class="row new-thing">
      <% for (var x = 0; x < data.names.length; x ++) { %>
      <div class="row pad-bottom-light<% if (data.names[x].name == data.username) { %> active<% } %>">
        <a href="#" class="button primary switch-to" data-name="<%= data.names[x].name %>">switch to</a> <%= data.names[x].name %>
      </div>
      <% } %>

      <% if (data.names.length == 10 && user.id != "55c1900e895c065c2e006061") { %>
        <div class="row">
          <p>
            You already have 10 usernames.
          </p>
        </div>
      <% } else { %>
      <form method="POST" data-callback="output" action="/new/name">
        <div class="row">
          <div class="col-1-3">
            <div class="row pad-bottom-light">
            <label for="">Add another name: (you can have up to 10 at a time)</label>
              <input type="text" name="name" maxlength="32">
            </div>
            <div class="row pad-bottom-light">
              <a class="button primary submit">add name</a>
              <output></output>
            </div>
          </div>
        </div>
      </form>
      <% } %>
    </div-->

</a>
