<article class="row active user-profile">
  <div class="contain">
    <h1 class="pad-lips">
    <%= data.email %>
    </h1>
    <div class="row new-thing">
      <% for (var x = 0; x < data.names.length ; x ++) { %>
      <div class="row pad-bottom-light<% if (data.names[x].name == data.username) { %> active<% } %>">
      <a href="#" class="button primary switch-to" data-name="<%= data.names[x].name %>">switch to</a> <%= data.names[x].name %>
      </div>
      <% } %>
      <form method="POST" data-callback="output" action="/new/name">
        <div class="row pad-bottom-light">
          <input type="text" name="name">
        </div>
        <div class="row pad-bottom-light">
          <a class="button primary submit">add it</a>
          <output></output>
        </div>
      </form>
    </div>

    <p>
    
    </p>
    <hr>
    <h1 class="pad-lips">
    Settings
    </h1>
    <div class="row pad-bottom-light lh30 settings">
      <input type="checkbox" id="hide-nsfw" name="nsfw" <% if(data.hidensfw) { %>checked<% } %>></input><label for="hide-nsfw">Hide all NSFW</label> 
      <input type="checkbox" id="hide-nsfl" name="nsfl"><label class="float-left" for="hide-nsfl">Hide all NSFL</label>
    </div>
  </div>
</article>