<div class="contain new-thing">
  <% if (data.name) { %>
  <div class="notice alert">
    <p>
    That sub doesn't exist! Check your spelling (<%= data.name %>), or feel free to create it...
    </p>
  </div>
  <% } %>
  <form method="POST" data-callback="createSub" action="/sub">
    <div class="row">
      <div class="col-1-2">
        <div class="row pad-bottom-light">
          <label for="creator">Use</label>
          <select name="creator" id="posted-by">
            <option selected value="<%= user.username %>"><%= user.username %></option>
          </select>
        </div>
        <div class="row pad-bottom-light">
          <label for="name">Name it</label>
          <input type="text" name="name" id="name" value="<% if (data.name) { %><%=   data.name %><% } %>">
        </div>
        <div class="row pad-bottom-light">
          <label for="tagline">Tagline (optional)</label>
          <input type="text" name="tagline" id="tagline">
        </div>
        <!-- <div class="row pad-bottom-light">
          <label for="css">Custom CSS (optional)</label>
          <textarea name="css" id="css" wrap="hard"></textarea>
        </div> -->
        <div class="row pad-bottom-light">
          <a class="button primary submit">make it</a>
        </div>
      </div>
    </div>
  </form>
</div>