<div class="contain new-thing">
<form method="POST" data-callback="newEntry" action="/entry">
    <div class="row">
      <div class="col-1-2">
        <div class="row pad-bottom-light">
          <label for="postedBy">Use</label>
          <select name="postedBy" id="posted-by">
            <option selected value="<%= user.username %>"><%= user.username %></option>
          </select>
        </div>
        <div class="row pad-bottom-light">
          <label for="title">Title (req)</label>
          <input type="text" name="title">
          <input type="text" name="slug" hidden>
        </div>

        <div class="row pad-bottom-light">
          <label for="title">Media (optional)</label>
          <input type="text" name="media">
        </div>

        <div class="row pad-bottom-light">
          <label for="title">Text (optional)</label>
          <textarea name="markdown"></textarea>
          <textarea name="content" hidden></textarea>
          <div class="preview"></div>
        </div>

        <div class="row pad-bottom-light">
          <label for="postedTo">You can post to one sub and cross post (optional) in up to two more</label>
          <input type="text" name="postedTo" placeholder="sub">
        </div>

        <div class="row pad-bottom-light">
          <a class="button primary submit">send it</a>
        </div>
      </div>
    </div>
  </form>
</div>

