<div class="contain new-thing">
  <form method="POST" data-callback="output" action="/entry">
    <div class="row">
      <div class="col-1-2">
        <div class="row pad-bottom-light">
          <label for="postedBy">Use</label>
          <select name="postedBy" id="posted-by">
            <option selected value="<%= user.username %>"><%= user.username %></option>
          </select>
        </div>
        <div class="row pad-bottom-light">
          <label for="title">Title (req)</label>
          <input type="text" name="title">
          <input type="text" name="slug" hidden>
        </div>

        <div class="row pad-bottom-light">
          <label for="media">Media (optional)</label>
          <input type="text" name="media">
        </div>

        <div class="row pad-bottom-light">
          <label for="markdown">Text (optional)</label>
          <textarea name="markdown"></textarea>
          <textarea name="content" hidden></textarea>
          <div class="preview"></div>
        </div>

        <div class="row pad-bottom-light">
          <label for="postedTo">You can post to one sub and cross post (optional) in up to two more</label>
          <input type="text" name="postedTo" placeholder="sub slug" value="<% if (data.prefill) { %><%= data.prefill %><% } %>">
        </div>

        <div class="row pad-bottom-light">
          <div class="col-1-4">
            <label for="nsfw">NSFW?</label> <input type="checkbox" id="nsfw" name="nsfw">
          </div>
          <div class="col-1-4">
            <label for="nsfl">Disturbing?</label> <input type="checkbox" id="nsfl" name="nsfl">
          </div>
          <a class="button primary submit">send it</a>
        </div>
        <output></output>
      </div>
    </div>
  </form>
</div>

