<div class="contain new-thing">
<% console.log(data) %>
<% if (req.user) { %>
  <% if (data.prefill) { %>
  <div class="notice alert">
    <p>
    That sub doesn't exist! Check your spelling (<%= data.prefill %>), or feel free to create it...
    </p>
  </div>
  <% } %>
  <form method="POST" data-callback="output" action="/new/sub">
    <div class="row">
      <div class="col-1-2">
        <div class="row pad-bottom-light">
          <label for="creator">Use</label>
          <select name="creator" id="posted-by">
            <option selected value="<%= user.username %>"><%= user.username %></option>
          </select>
        </div>
        <div class="row pad-bottom-light">
          <label for="name">Name it</label>
          <input type="text" class="generate-slug" name="name" id="name" value="<% if (data.prefill) { %><%= data.prefill %><% } %>">
        </div>
        <!-- div class="row pad-bottom-light">
          <label for="name">Slug it (<span data-tip="The slug is the URL of your sub">?</span>)
          <input type="text" name="slug" id="slug" readonly>
        </div -->
        <div class="row pad-bottom-light">
          <label for="tagline">Tagline (optional)</label>
          <input type="text" name="tagline" id="tagline">
        </div>
        <div class="row pad-bottom-light">
          <input type="checkbox" id="nsfw" name="nsfw" value="true"><label for="nsfw">NSFW</label> 
          <input type="checkbox" id="nsfl" name="nsfl" value="true"><label class="float-left" for="nsfl">Disturbing content</label>
          <a class="button primary submit">make it</a>
          <output></output>
        </div>
      </div>
    </div>
  </form>
  <% } else { %>
  <div class="notice alert">
      <p>
      That sub doesn't exist, but you are free to create it after you log in.
      </p>
    </div>
  <% } %>
</div>