<div class="contain new-thing">
  <form method="POST" action="/entry" class="new-entry">
    <div class="row">
      <div class="col-1-2">
        <div class="row pad-bottom-light">
          <label for="posted-by">Use</label>
          <select name="posted-by" id="posted-by">
            <option selected value="<%= user.username %>"><%= user.username %></option>
          </select>
        </div>
        <div class="row pad-bottom-light">
          <label for="title">Title (req)</label>
          <input type="text" name="title">
        </div>

        <div class="row pad-bottom-light">
          <label for="title">Media (optional)</label>
          <input type="text" name="media">
        </div>

        <div class="row pad-bottom-light">
          <label for="title">Text (optional)</label>
          <textarea name="content"></textarea>
        </div>

        <div class="row pad-bottom-light">
          <label for="post-to">You can post to one sub and cross post (optional) in up to two more</label>
          <input type="text" name="post-to" placeholder="main, x1, x2">
        </div>

        <div class="row pad-bottom-light">
          <a class="button primary submit">send it</a>
        </div>
      </div>
    </div>
  </form>
</div>

