<div class="row">
  <div class="col-1-3">
    <input type="text" name="sub-search" placeholder="Search for subs...">
    <ul class="sub-search"></ul>
  </div>
  <div class="col-1-3">
    <input type="text" name="user-search" placeholder="Search for users...">
    <ul class="user-search"></ul>
  </div>
  <div class="col-1-3">
    <input type="text" name="entry-search" placeholder="Search for entries...">
    <ul class="entry-search"></ul>
  </div>
</div>