<% if (typeof(user) == 'undefined') { %>
<div class="row pad-lips-light sign-up">
  <div class="contain">
    <form method="POST" data-callback="signUp" action="/user">
      <div class="row">
        <div class="float-right">
          <label class="on lh30">Create an account:</label>
          <input type="email" placeholder="email" name="email"><br>
          <input type="text" placeholder="username" name="username"><br>
          <input type="password" placeholder="password" name="password"><br>
          <a class="button primary submit margin-top-light">sign up</a>
          <output></output>
        </div>
      </div>
    </div>
  </form>
</div>
<% } %>