<% if (!user) { %>
<div class="row pad-lips-light">
  <div class="contain">
    <label>Sign up</label>
    <form method="POST" action="/user">
      <input type="email" placeholder="email" name="email">
      <input type="text" placeholder="username" name="username">
      <input type="password" placeholder="password" name="password">
      <input class="button primary" type="submit" value="submit">
    </form>
  </div>
</div>
<% } %>