<form class="signup-form" data-callback="output" autocomplete="off" action="/user">
  <input type="email" placeholder="email" name="email">
  <input type="text" placeholder="username" name="username">
  <input type="password" placeholder="password" name="password">
  <button class="button primary submit">sign up</button>
  <button class="button secondary swap-panel-forms off">log-in</button>
  <output></output>
</form>