<% if (typeof(user) == 'undefined') { %>
<div class="row pad-lips-light">
  <div class="contain">
    <label>Sign up</label>
    <div class="sign-up">
    <form method="POST" data-callback="signUp" action="/user">
        <input type="email" placeholder="email" name="email">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <a class="button primary submit">sign up</a>
        <!-- <button class="button primary" type="submit">sign up</button> -->
        <output></output>
      </form>
    </div>
  </div>
</div>
<% } %>