<form class="signup-form" data-callback="signUp" action="/user">
  <input type="email" placeholder="email" name="email">
  <input type="text" placeholder="username" name="username">
  <input type="password" placeholder="password" name="password">
  <a class="button primary submit">sign up</a>
  <a class="button secondary swap-panel-forms">log-in</a>
  <output></output>
</form>