<article class="active row">
  <div class="contain">
    <header>
      <h1>Sub list</h1>
    </header>
    <div class="row">
      <div class="name col-1-6"><h4>Name</h4></div>
      <div class="creator col-1-6"><h4>Creator</h4></div>
    </div>
    <% for (sub in data) { %>
    <div class="row">
      <div class="name col-1-6">
        <p><a href="/sub/<%= data[sub].name %>"><%= data[sub].name %></a></p>
      </div>
      <div class="creator col-1-6">
        <p><%= data[sub].creator %></p>
      </div>
    </div>
    <% } %>
  </div>
</article>