/* standard stuff */
body {
  font-family: "Open Sans";
  font-size: 1.8rem;
  color: #505050;
  overflow-y: scroll;
}

.logo a {
  font-weight: bold;
  font-size: 3rem;
}

.logo a,
p a,
li a,
cite a { 
  color: #191919;
  border-bottom: 1px solid #DF3D82;
  border-top: 1px solid transparent;
  text-decoration: none;
  transition: all 100ms linear;
}

.logo a:hover,
p a:hover,
li a:hover,
cite a:hover { 
  color: #DF3D82;
  border-top: 1px solid #DF3D82;
}

strong {
  color: #DF3D82;
}

body > header {
  height: 6rem;
  transition: all 250ms ease;
}

body > header .logo {
  line-height: 6rem;
}

body > header .logo a {
  color: #DF3D82;
}

/* main article */
main.active article {
  opacity: .5;
}

main.active article.active {
  opacity: 1;
  z-index: 2;
}

article {
  position: relative;
  min-height: 6rem;
  overflow: hidden;
}

article header,
article footer {
  position: relative;
  cursor: pointer;
  z-index: 2;
  width: 100%;
}


article:not(.active):hover,
article.active {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  opacity: 1;
}

article.active {
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

article header h1 {
  font-size: 2rem;
  line-height: 3rem;
}

article section {
  max-height: 0;
  overflow: hidden;
}

article p:last-child {
  margin-bottom: 1.5rem;
}

article.active header {
  width: 100%;
}

article.active header h1 {
  color: #DF3D82;
}

article.active section {
  max-height: 500vh;
}


article ul, 
article ol {
  padding-left: 3rem;
}


@media (max-width: 800px) {
  .palette {
    display: none;
  }

  body {
    padding-top: 6rem;
  }

  body > header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background-color: #222;
    color: #ddd;
    z-index: 5;
  }

  article.has-media:not(.active) header {
    max-width: 60%;
  }

  article .media {
    max-width: 50%;
  }
  article:not(.active) .media:before {
    transform: skew(-5deg);
    width: 25rem;
    left: -20rem;
  }

  article:not(.active) h1 {
    max-width: 60%;
  }
}