.button {
  display: block;
  background: #8BC34A;
  width: auto;
  border: 0;
  padding: 1.5rem;
  margin-top: 2.5rem;
  color: #ECEFF1;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0.3rem;
  text-align: center;
  border: 1px solid transparent;
}
.button:hover {
  background: #03A9F4;
  color: #ECEFF1;
}

.button.secondary {
  background: transparent;
  border-color: #8BC34A;
  color: #8BC34A;
}

.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
}

.button-group .button {
  width: auto;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: auto;
  border-radius: 0;
}
.button-group .button:first-child {
  border-radius: 3px 0 0 3px;
}
.button-group .button:last-child {
  border-radius: 0 3px 3px 0;
}
