.make-comment {
  margin-top: 3rem;
}


.comments {

}

.comments > ul {
  border: 1px solid #121212;
}

.comments ul {
  list-style: none;
}

.comments ul ul {
  padding-left: 1.5rem;
}

.comments ul li {
  margin-top: 1.5rem;
  padding: .75rem;
  background-color: #f2f2f2;
}

.comments ul li > ul li:nth-child(odd) {
  background-color: #ddd;
}

.comments ul li > ul li:nth-child(even) {
  background-color: #f2f2f2;
}


.comment{
  margin-top:10px;
}

.comment>article{
  padding-top:25px;
}
.comment label{
  padding-bottom:10px;
}
.comment textarea{
  margin-bottom:10px;
}
