.make-comment {
  margin-top: 3rem;
}


.comments {

}

.comments header,
.comments footer {
  line-height: 3rem;
  font-size: 1.4rem;
  padding-left: .75rem;
  overflow: hidden;
}

.comments section {
  padding: calc(.75rem - 1px);
  background: transparent;
}

.comments > ul {
  border: none;
}

.comments ul {
  list-style: none;
}

.comments ul ul {
  padding-left: 0.75rem;
}

.comments ul li {
  margin: 0.75rem 0.75rem 0.75rem 0;
  padding-left: 1px;
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.25);
}

.comments ul li > ul:nth-child(even) li{
  background-color: rgba(0,0,0,.25);
}

.comments ul li > ul:nth-child(odd) li{
  background-color: transparent;
}


