.entry {
  float: left;
  width: calc(100% - 7.5rem);
}

.media video {
  max-height: 100%;
  max-width: 100%;
}

.entry header,
.entry section,
.entry footer {
  float: left;
}

.entry header h1 {
  float: left;
  font-size: 2rem;
  line-height: 3rem;
}

.entry header .score {
  float: left;
  line-height: 3rem;
}


article.active .entry header h1 {
  color: #DF3D82;
}
/*

 main article 
main.active article {
  opacity: .5;
}

main.active article.active {
  opacity: 1;
  z-index: 2;
}
*/
article {
  position: relative;
  min-height: 6rem;
  overflow: hidden;
  padding: 0.75rem 0 1.5rem 0;
  transition: all 250ms linear;
}

.preview {
  padding: 1.5rem 0;
}

.preview ul {
  padding-left: 3rem;
}

article header,
article footer {
  position: relative;
  cursor: pointer;
  z-index: 2;
  width: 100%;
}


article:not(.active):hover,
article.active {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  opacity: 1;
}

article.active {
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

article section {
  max-height: 0;
  overflow: hidden;
}

article p:last-child {
  margin-bottom: 1.5rem;
}

article.active header {
  width: 100%;
}

article.active section {
  max-height: 500vh;
}


article ul, 
article ol {
  padding-left: 3rem;
  clear: left
}

article cite {
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-style: normal;
  color: #505050;
}

article.active header ul {
  display: block;
}

article header ul {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

article header li {
  display: block;
  float: left;
  color: #f2f2f2;
  font-family: monospace;
  font-size: 1.4rem;
  text-align: center;
  line-height: 3rem;
  color: #DF3D82;
  padding: 0 .75rem;
  opacity: .5;
  border-radius: .5rem;
}

article header li + li {
  margin-left: .75rem;
}

article header li:hover,
article header li.active {
  color: #f2f2f2;
  background-color: #DF3D82;
  opacity: .75;
}

.score .calculated { 
  opacity: 0;
  transition: opacity 100ms linear;
}

.score:hover .calculated {
  opacity: 1;
}

article header .vote.up {
  transform: rotate(180deg);
}

article header li.active {
  opacity: 1;
}

article footer:before {
  content: '.';
  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  float: right;
}