.entry {
  position: relative;
  overflow: hidden;
}

article header li:hover,
article header li.active {
  color: #f2f2f2;
  background-color: #DF3D82;
  opacity: .75;
}

.media video {
  max-height: 100%;
  max-width: 100%;
}

.entry header,
.entry section,
.entry footer {
  float: left;
  width: 100%;
}

.entry .edit-entry {
  font-size: 1.2rem;
  display: none;
}

article.active .entry .edit-entry {
  display: block;
}

.entry header {
  line-height: 3rem;
}

.entry cite {
  line-height: 1.2rem;
}

.entry .timesince {
  display: inline-block;
  opacity: .5;
  font-size: 1rem;
  padding-left: 0.75rem;
}

.entry footer {
  line-height: 2rem;
  font-size: 1.2rem;
}

.entry .permalink {
  float: left;
}

.entry header a,
.entry footer a,
.entry cite a {
  border: none !important;
}

.entry header h1 {
  font-size: 2rem;
  line-height: 2rem;
}

article.has-media .entry header {
  /*width: 45%;*/
}

article.active.has-media .entry header {
  width: 100%;
}


article.active .entry header h1 {
  color: #DF3D82;
}
/*
main article 
main.active article {
  opacity: .5;
}

main.active article.active {
  opacity: 1;
  z-index: 2;
}
*/
article {
  position: relative;
  min-height: 6rem;
  overflow: hidden;
  transition: all 250ms linear;
}

.preview {
  padding: 1.5rem 0;
}

.preview ul {
  padding-left: 3rem;
}


article header,
article footer,
article cite {
  position: relative;
  width: 100%;
}



article.active {
  z-index: 2;
}

article:not(.active) .nsfw {
/*
  -webkit-filter: blur(50px);
  filter: blur(50px);
*/
}

article.active.nsfw {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

article.active header {
  width: 100%;
}

article ul, 
article ol {
  padding-left: 3rem;
  clear: left
}

article cite {
  display: block;
  clear: both;
  font-size: 1.2rem;
  font-style: normal;
  color: #505050;
}

article header li.active {
  opacity: 1;
}

article footer:before {
  content: '.';
  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  float: right;
}

.make-reply { 
  display: none;
}

.logged-in .make-reply { 
  display: initial;
}


