.entry {
  position: relative;
  overflow: hidden;
}

article {
  padding: 0.75rem;
}

article.active .control {
  display: block;
}

article ul.control {
  display: none;
  padding: 0;
  padding-top: .75rem;
  list-style: none;
  overflow: hidden;
}

article ul.control li {
  display: block;
  float: left;
  color: #f2f2f2;
  font-family: monospace;
  font-size: 1.4rem;
  text-align: center;
  line-height: 3rem;
  min-width: 3rem;
  padding: 0 .5rem;
  color: #DF3D82;
  opacity: .5;
  border-radius: .5rem;
  border: 1px solid #DF3D82;
}

article ul.control li + li {
  margin-left: 0.75rem;
}


article header li:hover,
article header li.active {
  color: #f2f2f2;
  background-color: #DF3D82;
  opacity: .75;
}

.media video {
  max-height: 100%;
  max-width: 100%;
}

.entry header,
.entry section,
.entry footer {
  float: left;
  width: 100%;
}


.entry header {
  line-height: 3rem;
}

.entry cite {
  line-height: 1.2rem;
}

.entry .timesince {
  display: inline-block;
  opacity: .5;
  font-size: 1rem;
  padding-left: 0.75rem;
}

.entry footer {
  line-height: 2rem;
  font-size: 1.2rem;
}

.entry .permalink {
  float: left;
}

.entry header a,
.entry footer a,
.entry cite a {
  border: none !important;
}

.entry header h1 {
  font-size: 2rem;
  line-height: 2rem;
}

article.has-media .entry header {
  /*width: 45%;*/
}

article.active.has-media .entry header {
  width: 100%;
}


article.active .entry header h1 {
  color: #DF3D82;
}
/*
main article 
main.active article {
  opacity: .5;
}

main.active article.active {
  opacity: 1;
  z-index: 2;
}
*/
article {
  position: relative;
  min-height: 6rem;
  overflow: hidden;
  transition: all 250ms linear;
}

.preview {
  padding: 1.5rem 0;
}

.preview ul {
  padding-left: 3rem;
}


article header,
article footer,
article cite {
  position: relative;
  cursor: pointer;
  z-index: 2;
  width: 100%;
}


article:not(.active):hover,
article.active {
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
  opacity: 1;
}

article.active {
  z-index: 2;
}

article:not(.active) .nsfw {
  -webkit-filter: blur(50px);
  filter: blur(50px);
}

article.active.nsfw {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

article section {
  max-height: 0;
  overflow: hidden;
}


article.active header {
  width: 100%;
}

article.active section {
  max-height: 500vh;
}

article ul, 
article ol {
  padding-left: 3rem;
  clear: left
}

article cite {
  display: block;
  clear: both;
  font-size: 1.2rem;
  font-style: normal;
  color: #505050;
}

article header .vote.up {
  transform: rotate(180deg);
}

article header li.active {
  opacity: 1;
}

article footer:before {
  content: '.';
  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  float: right;
}

.make-reply { 
  display: none;
}

.logged-in .make-reply { 
  display: initial;
}

@media (max-width: 800px) {
  .feature {
    display: none;
    position: fixed;
    top: 6rem;
    left: 0;
    height: 100%;
    z-index: 10;
    width: 100%;
    background-color: #f2f2f2;
  }

  .feature.active {
    display: block;
  }
}

