.overlay {
  position: fixed;
  top: 0; left: 0;
  height: 100%; width: 100%;
  height: 100vh; width: 100vw;
  background-color: rgba(25,25,25,.5);
  z-index: 10;
}

.overlay .contain {
  background-color: #f2f2f2;
  min-height: 100%;
  overflow-y: scroll;
}