.scroll-y {
  height: calc( 100vh - 6rem );
  overflow-y: scroll;
}
.scroll-y::-webkit-scrollbar { display: none; }


.feature {
  background: #f2f2f2;
}

.feature .entry h1 {
  line-height: 3rem;
}

.features {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.entries .entry h1 {
  font-size: 1.4rem;
}
.entries .entry cite {
  font-size: 1rem;
}
.entries .entry {
  background: #e8e8e8;
  border-bottom: 1px solid #ddd;
}

.entries article.nsfw .thumb {
  display: none;
}

.thumb {
  height: 6rem;
  width: 15rem;
  overflow: hidden;
  transform: skew(45deg) translateY(-50%);
  -ms-transform: skew(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: -6rem;
}

.nail {
  height: 100%;
  width: 100%;
  transform: scale(1.5) skew(-45deg);
  -ms-transform: scale(1.5) skew(-45deg);
  background-size: cover;
  background-position: center center;
}

.height-set {  
  height: calc(100vh - 6rem);
  position: absolute;
  top: 6rem;
  overflow-y: scroll;
}

.media {
  position: relative;
  background-size: cover;
  background-position: top center !important
}

.features .media a:hover {
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.media.primary[title]:before {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 3.5rem;
  width: 100%;
  content: attr(title);
  background: rgba(0, 0, 0, .5);
  padding: 1.5rem;
  color: #f2f2f2;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, .85);
}

.flex .media.image[title]:before {
  font-size: 1.4rem;
}

.media.primary {
  min-height: 36rem;
}

.media.secondary {
  min-height: 12.5rem;
}
.controls div:hover {
  background-color: rgba(255, 255, 255, .15)
}

ul.text-entries {
  padding-left: 0;
  margin-top: 0.25rem;
}

ul.text-entries li {
  line-height: 3.5rem;
  list-style: none;
}

ul.text-entries li a {
  display: block;
  width: 100%;/*
  text-overflow: ellipsis;
  white-space: nowrap;*/
  overflow: hidden;
  font-size: 1.4rem;
  line-height: 3rem;
  padding-left: 0.75rem;
  border-color: #ddd;
}

ul.text-entries li a:hover {
  color: #121212;
  background: #fff;
}

ul.text-entries li + li {
  margin-top: -1px;
}

.flex.images {
  padding-right: 0.75rem;
}

.flex.images,
.flex.videos {
  margin-top: 0.75rem;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: flex-around;
  -ms-flex-pack: justify;
}

.row-media .videos {
  margin-top: 0.75rem;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap 
}

.images .media,
.videos .media {
  position: relative;
  width: calc(25% - 0.75rem);
  height: 10rem;
  margin-bottom: 0.75rem;
  background-image: no-repeat;
  background-position: top center;
  overflow: hidden;
}

.media:hover a {
  opacity: 1;
}

.media a {
  display: block;
  text-decoration: none;
  background: rgba(0,0,0,.5);
  opacity: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
  padding: 0.75rem;
  border-top: none;
  line-height: 1.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  position: absolute;
  color: #f2f2f2;
  text-align: left;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, .9);
  transition: opacity 250ms ease-in;
  text-overflow: ellipsis;
}

@media (max-width:800px) {
  .text-entries,
  .link-entries {
    display: none
  }
  .flex .media.image,
  .flex .media.video {
    min-height: 20rem !important;
    width: calc(50% - .75rem);
  }
  .media .controls {
    background: #252525;
    top: initial;
    bottom: -10rem;
    opacity: 1;
    height: 10rem;
  }
}



/* loaded view */

.loaded-view article {
  padding: 0.75rem;
}

.loaded-view article ul.control {
  padding-bottom: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0;
  list-style: none;
  overflow: hidden;
  float: left;
}

.loaded-view {
  display: none;
  position: fixed;
  height: calc( 100vh - 6rem );
  top: 6rem;
  left: 0;
  z-index: 3;
  background-color: #f2f2f2;
}

.loaded-view.active {
  display: block;
}

.loaded-view iframe.content {
  height: 60vh;
  width: calc( 100% - 6rem );
  max-width: 768px;
  border: 0;
  box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}


.single ul.control {
  position: fixed;
  width: 6rem;
  float: left;
  height: calc(100vh - 6rem);
  list-style: none;
}

.single .data {
  width: calc(100% - 6rem);
  float: left;
  margin-left: 6rem;
}

.embedly-embed {
  height: 60vh;
  width: 100%;
}


.single ul.control li {
  line-height: 6rem;
  height: 6rem;
  text-align: center;
  cursor: pointer;
}

.single ul.control li:hover {
  color: #DF3D82;
}

.single ul.control li.active {
  background-color: #DF3D82;
  color: #fff;
}

.entries,
.loaded-view,
.feature {
  float: left;
}

.entries {
  width: 48rem;
  background-color: #e8e8e8
}

.loaded-view {
  width: calc(100% - 48rem);
  margin-left: 48rem;
}

.feature {
  width: calc(100% - 48rem);
}

.entries article {
  padding: 0.75rem;
  position: relative;
  overflow: hidden;
}

.entries article.has-media {
  padding-right: 15rem;
}

.loaded-view h1 {
  color: #DF3D82;
}

.entries article:not(.active) {
  background-color: #e8e8e8;
  border-right: 1px solid #ddd;
  cursor: pointer;
}

.entries article.active {
  background-color: #f2f2f2;
  border-right: 1px solid #f2f2f2;
  opacity: 1;
}


@media (max-width: 800px) {
  .single .data {
    width: calc(100% - 6rem);
    float: left;
    margin-right: 4.5rem;
    margin-left: auto;
  }

  .single ul.control {
    position: fixed;
    right: 0;
    top: 6rem;
    background-color: #e8e8e8;
    border-left: 1px solid #ddd;
  }

  .entries,
  .loaded-view {
    width: 100%;
    margin: 0;
  }
}