a { 
  color: #191919;
  border-bottom: 1px solid #DF3D82;
  border-top: 1px solid transparent;
  text-decoration: none;
  transition: all 100ms linear;
}

a:hover { 
  color: #DF3D82;
  border-top: 1px solid #DF3D82;
}