article .media + header {
  max-width: 50%;
}

article:not(.active) .media {
  position: absolute;
  height: 8rem;
  width: 60%;
  right: 0;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center
}

article:not(.active):hover .media:before {
  background-color: #fff
}

article:not(.active) .media.nsfw {
  max-width: 45%;
}
article:not(.active) .media.nsfw:before {
  display: none;
}

article:not(.active) .media:before {
  content: '';
  position: absolute;
  height: 8rem;
  width: 500rem;
  left: -490rem;
  background-color: #f2f2f2;
  transform: skew(45deg);
  transition: all 250ms ease;
  z-index: -1;
}

article.active .media {
  display: inline-block;
  float: left;
  background-size: 0 0;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  max-height: 100%;
  max-width: 100%;
}

article .media img {
  display: none;
}

article.active .media img {
  display: block;
  max-height: 60vh;
  max-width: 100%;
}

article .media.youtube iframe {
  display: none;
}

article.active .media.youtube {
  background-image: none;
}

article.active .media.youtube iframe {
  display: block;
}

@media (max-width: 800px) {
  article.has-media:not(.active) header {
    max-width: 60%;
  }

  article .media {
    max-width: 50%;
  }
  article:not(.active) .media:before {
    transform: skew(-5deg);
    width: 25rem;
    left: -20rem;
  }
}