article .media + header {
  /*max-width: 50%;*/
}

article:not(.active) .media {
  position: absolute;
  height: 8rem;
  width: 50%;
  right: 0;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  display: none;
}

article:not(.active) .media.gif {
  background-image: none !important;
}

article:not(.active):hover .media:before {
  background-color: #fff
}


article.active .media {
  display: inline-block;
  float: left;
  background-size: 0 0;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  max-height: 100%;
  max-width: 100%;
}

article .media img {
  display: none;
}

article.active .media img {
  display: block;
  max-height: 60vh;
  max-width: 100%;
}

article .media.youtube iframe {
  display: none;
}

article.active .media.youtube {
  background-image: none;
}

article.active .media.youtube iframe {
  display: block;
}

@media (max-width: 800px) {

}