.entry ul.tags {
  position: absolute;
  z-index: 2;
  top: .75rem;
  bottom: .75rem;
  right: .75rem;
  left: 50%;
  list-style: none;
  padding-left: 0;
  clear: none;
}

.entry ul.tags li {
  background-color: #121212;
  color: #f2f2f2;
  float: right;
  line-height: 1.8rem;
  font-size: 1rem;
  padding: 0 0.5rem 0.1rem 0.5rem;
  border-radius: 0.5rem;
  opacity: .75;
  cursor: pointer;
  transiton: all 100ms linear;
}

.entry ul.tags li:hover {
  background-color: #DF3D82;
}

article.active .entry ul.tags {
  bottom: auto;
  top: 4.5rem;
}