.entry ul.tags {
  position: absolute;
  z-index: 2;
  top: .75rem;
  right: .75rem;
  list-style: none;
  padding-left: 0;
  clear: none;
  max-width: 30%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: flex-end;
  -ms-flex-pack: justify
}

.entry ul.tags li {
  background-color: #121212;
  color: #f2f2f2;
  font-size: .8rem;
  line-height: 2em;
  padding: 0 0.5em;
  border-radius: 0.2em;
  opacity: .6;
  cursor: pointer;
  transiton: all 100ms linear;
  margin-left: .5rem;
  margin-bottom: .5rem;

  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  -webkit-flex-grow: 0;
  -webkit-flex-shrink: 0;
  -webkit-flex-basis: auto;
}

.entry ul.tags li:hover {
  background-color: #DF3D82;
  opacity: .9;
}

article.active .entry ul.tags {
  bottom: auto;
  top: 4.5rem;
}