article.active .vote {
  display: block;
}

.vote {
  display: none;
  position: relative;
  float: left;
  z-index: 3;
  height: 3rem;
  width: 3rem;
}

.vote:hover .control {
  opacity: 1;
}

.vote .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 100ms linear;
}

.vote .control .up,
.vote .control .down {
  height: 50%;
  width: 1.5rem;
  opacity: .5;
  cursor: pointer;
  transition: opacity 100ms linear;
}

.vote .control div.active {
  opacity: 1 !important;
}

.vote .control .up:hover,
.vote .control .down:hover {
  opacity: 1;
}

.vote .control .up {
  background-color: #DF3D82;
}

.vote .control .down {
  background-color: #121212;
}


/*.vote .up,
.vote .down {
  text-align: center;
  width: 3rem;
  float: left;
  margin: 0 auto;
  padding: .5rem 0;
  transition: all 100ms linear;
}

.vote .up:hover {
  color: #f2f2f2;
  background-color: #DF3D82;
  cursor: pointer;
}

.vote .down:hover {
  color: #f2f2f2;
  background-color: #121212;
  cursor: pointer;
}*/