.lined {
  background: linear-gradient( to bottom, rgba(0, 0, 0, .5), #f2f2f2 .1rem);
  background-size: 100% 3rem;
  overflow: hidden;
}

article footer:before {
  content: '.';
  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  float: right;
}

article ul {
  display: none;
}

article.active ul {
  display: block;
  width: 100%;
}

article footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

article footer ul li {
  float: left;
  height: 4.5rem;
  width: 25%;
  text-align: center;
  line-height: 4.5rem;
  font-size: 3rem;
}

article li:hover {
  color: #DF3D82;
}


article cite {
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-style: normal;
  color: #505050;
}

article.active cite {
  margin: 1.5rem 0;
}

article cite a {
  display: inline-block;
  text-decoration: none;
  color: #222
}
