/* standard stuff */

@media (max-width: 768px) {
  * {
    -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  }
}


body {
  font-family: "Open Sans";
  font-size: 1.8rem;
  color: #505050;
  overflow-y: scroll;
  padding-bottom: 9rem;
}

body:after {
  display: block;
  height: 0;
  width: 100%;
  overflow: hidden;
  content: 'created by Koo, Chi, and Khi.';
}

[data-debug]::before {
  content: attr(data-debug);
  display: block;
  font-weight: bold;
  color: red;
}

.logo {
  float: left;
}

.logo a {
  font-weight: bold;
  font-size: 3rem;
}

header a,
.entry a { 
  color: #191919;
  border-bottom: 1px solid #DF3D82;
  border-top: 1px solid transparent;
  text-decoration: none;
  transition: all 100ms linear;
}

.logo a:hover,
.entry a:hover { 
  color: #DF3D82;
  border-top: 1px solid #DF3D82;
}

strong {
  color: #DF3D82;
}

body > header {
  height: 6rem;
  transition: all 250ms ease;
}

body > header .logo {
  line-height: 6rem;
}

body > header .logo a {
  color: #DF3D82;
}

@media (max-width: 800px) {
  .palette {
    display: none;
  }

  body {
    padding-top: 9rem;
  }

  body > header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background-color: #222;
    color: #ddd;
    z-index: 5;
  }

}